@import "../../themes/Color.scss";

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  background-color: $purple;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
  color: $white;
}
